{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<h3 class="text-center mt-2 mb-2">Profil de
		{{ customer.lastName }}
		{{ customer.firstName }}</h3>
	<div class="d-flex justify-content-center">
		<a href="{{ path('app_customer_edit', {'id': customer.id}) }}"><img class="mx-1" src="{{ asset('build/images/edit.png') }}" alt="" width="35" heigh="35"></a>
		{{ include('customer/_delete_form.html.twig') }}
	</div>
	<div class="container">
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ customer.id }}</td>
				</tr>
				<tr>
					<th>FirstName</th>
					<td>{{ customer.firstName }}</td>
				</tr>
				<tr>
					<th>LastName</th>
					<td>{{ customer.lastName }}</td>
				</tr>
				<tr>
					<th>DisabilityCard</th>
					<td>{{ customer.disabilityCard }}</td>
				</tr>
				<tr>
					<th>Phone</th>
					<td>+33
						{{ customer.phone }}</td>
				</tr>
				<tr>
					<th>Address</th>
					<td>{{ customer.address }}</td>
				</tr>
				<tr>
					<th>Zipcode</th>
					<td>{{ customer.zipcode }}</td>
				</tr>
				<tr>
					<th>City</th>
					<td>{{ customer.city }}</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
