{% extends 'base.html.twig' %}

{% block title %}Vehicle index
{% endblock %}

{% block body %}
	<h3>Vehicle index</h3>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Brand</th>
				<th>Model</th>
				<th>Mileage</th>
				<th>Energy</th>
				<th>RegistrationPlate</th>
				<th>IsAvailable</th>
				<th>Picture</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for vehicle in vehicles %}
				<tr>
					<td>{{ vehicle.id }}</td>
					<td>{{ vehicle.brand }}</td>
					<td>{{ vehicle.model }}</td>
					<td>{{ vehicle.mileage }}</td>
					<td>{{ vehicle.energy }}</td>
					<td>{{ vehicle.registrationPlate }}</td>
					<td>{{ vehicle.isAvailable ? 'Yes' : 'No' }}</td>
					<td>{{ vehicle.picture }}</td>
					<td>
						<a href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}">show</a>
						<a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_vehicle_new') }}">Create new</a>
{% endblock %}
