{% extends 'base.html.twig' %}

{% block title %}Vehicle index
{% endblock %}

{% block body %}
	<h3 class="text-center mt-5 mb-5">Liste des vehicules</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Marque</th>
				<th>Modèle</th>
				{% if is_granted('ROLE_ADMIN') %}<th>Disponibilité</th>{% endif %}
				<th>Photos</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for vehicle in vehicles %}
				<tr>
					<td>{{ vehicle.brand }}</td>
					<td>{{ vehicle.model }}</td>
					{% if is_granted('ROLE_ADMIN') %}
						<td>
							{% if vehicle.isAvailable == true %}
								<a href="{{ path('app_vehicle_dispo', {'id': vehicle.id}) }}"><img class="" src="{{ asset("build/images/yes.png") }}" alt="" width="35" heigh="35"></a>
							{% else %}
								<a href="{{ path('app_vehicle_dispo', {'id': vehicle.id}) }}"><img class="" src="{{ asset("build/images/no.png") }}" alt="" width="35" heigh="35"></a>
							{% endif %}
						</td>
					{% endif %}
					<td><img class="img-vehicle" src="{{vehicle.picture}}" alt=""></td>
					<td>
						<a href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}"><img class="" src="{{ asset('build/images/show.png') }}" alt="" width="35" heigh="35"></a>
                        {% if is_granted('ROLE_ADMIN') %}
						    <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}"><img class="" src="{{ asset('build/images/edit.png') }}" alt="" width="35" heigh="35"></a>
                        {% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">Aucun vehicule dans la flotte</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_vehicle_new') }}">Ajout nouvelle voiture</a>
{% endblock %}
