<nav class="navbar navbar-expand-lg bg-body-tertiary bg-white">
	<div class="container-fluid">
		<a class="navbar-brand d-flex align-items-center" href="/">Handi'Loc<img class="logo-handi" src="{{ asset('build/images/logo-handi.jpeg') }}" alt=""></a>
		<div class="d-flex flex-end">
			<img class="logo-profil mx-2 d-lg-none" src="{{ asset('build/images/profil-menu.svg') }}" alt="">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_vehicle_index') }}">Nos véhicules TPMR</a>
				</li>
				<li>
					<a class="nav-link" href="{{ path('app_customer_index') }}">Nos clients</a>
				</li>
			</ul>
<<<<<<< HEAD
			<a class="nav-link" href="{{ path('app_login') }}">
				<img class="logo-profil mx-5 d-none d-lg-block" src="{{ asset('build/images/profil-menu.svg') }}" alt="">
			</a>
=======
			<a href="{{ path('app_login') }}" class="text-souligne"><img class="logo-profil mx-5 d-none d-lg-block" src="{{ asset('build/images/profil-menu.svg') }}" alt=""></a>
			{% if app.user %}<a href="{{ path('app_logout') }}" class="text-souligne"><img class="mx-5 d-none d-lg-block" src="{{ asset('build/images/logout.png') }}" alt="" width="25" heigh="25"></a>{% endif %}
>>>>>>> dev
			<a href="https://www.grandlyon.com/"><img class="logo-metropole" src="{{ asset('build/images/logo-metropole.png') }}" alt=""></a>
		</div>
	</div>
</nav>
